@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root{
    --primary-color: #dc0000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:html{
    font-size: 62.5%;
}

body{
    line-height:0px;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
}

button,
input{
    border: none;
    outline: none;
}

a[href]{
    text-decoration: none;
    background-color: transparent;
    &:hover {
        color: #2367FF;
    }
}

.active{
    display: block;
}
.wrapper{
    width: 1200px;
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    margin-top: 128px;
}
.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1400px){
    .wrapper .container{
        max-width: 1320px;
    }
}
@media (max-width: 1200px){
    .wrapper{
        margin-top: 164px;
    }
    .wrapper .container{
        max-width: 1140px;
    }
}
@media (max-width: 922px){
    .wrapper .container{
        max-width: 960px;
    }
}
@media (max-width: 768px){
    .wrapper .container{
        max-width: 720px;
    }
}
@media (max-width: 576px){
    .wrapper{
        margin-top: 134px;
    }
    .wrapper .container{
        max-width: 540px;
    }
}

