@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root{
    --primary-color: #dc0000;
}

*{
    box-sizing: border-box;
}

:html{
    font-size: 62.5%;
}

body{
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
}